#bgColor1-green {
    -fx-background-color: #62FF00;
}

#bgColor-blue {
    -fx-background-color: #008BFF;
}

#bgColor-rosa {
    -fx-background-color: #FF0049;
}

#bgColor-negro {
    -fx-background-color: #616161;
}